:root {
	--text-color: #ffffff; 
    --primary-text-color: #212121; 
    --secondary-text-color: #757575; 
  	--accent-color: #2196f3; 
  	--primary-button-color: #f5f4fa; 
  	--background-color: #f5f4fa; 
  	--primary-background-color: #ffffff; 
  	--secondary-background-color: #2f303a; 
  	--border-color: #eeeeee;
}


body {
	background-color: var(--primary-background-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
}

a {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p,ul {
	margin: 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

/*Header*/

.header {
	border-bottom: 1px solid #ececec;
}

/*Розмітка*/
.container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.header-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*main-nav*/

.main-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	color: var(--accent-color);
	font-family: Ralewey, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
}

.logo-countinuation {
	color: var(--primary-text-color);
}		

.site-nav {
	display: flex;
	margin-left: 90px;
}

.site-nav .item .link{
	position: relative;
	margin-right: 50px;
}

.site-nav .item:last-child {
	margin-right: 0;
}

.link.current::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: var(--accent-color);
	border-radius: 2px;
	bottom: -1px;
	display: block;
}

.site-nav .link {
	display: block;
	color: var(--primary-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	padding-top: 30px;
	padding-bottom: 30px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

/*auth-nav*/

.auth-nav {
	margin-left: auto;
}

.auth-nav-li {
	display: flex;
	align-items: center;
}

.auth-nav-li .item {
	margin-right: 50px;
}

.auth-nav-li .item:last-child {
	margin-right: 0;
}

.auth-nav-li .item .link {
	color: var(--secondary-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	display: flex;
	align-items: center;
	padding: 28px 0;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
	color: var(--accent-color);
}

/* svg */

.svg-mail {
	fill: var(--secondary-text-color);
	margin-right: 10px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-tel {
	fill: var(--secondary-text-color);
	margin-right: 10px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover svg,
.link:focus svg {
	fill: var(--accent-color);
}

/* section - hat */

.hat {
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
	url(../images/hero/hero.jpg);
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1600px;
}

.hat-tittle {
	color: var(--text-color);
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 696px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	font-family: Roboto;
}

/* buttons */

.button {
	color: var(--primary-background-color);
	background-color: var(--accent-color);
	border-color: transparent;
	text-align: center;
	font-family: Roboto;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.06em;
	line-height: 1.875;
	border-radius: 4px;
	padding: 10px 32px;
	min-width: 216px;
}

.button.primary {
	color: var(--primary-background-color);
	background-color: var(--accent-color);
	border-color: transparent;
	text-align: center;
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.03em;
	line-height: 1.625;
	border-radius: 4px;
	padding: 6px 22px;
	min-width: 73px;
}

.button.secondary {
	color: var(--primary-text-color);
	background-color: var(--primary-button-color);
	border-color: transparent;
	padding: 6px 22px;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.03em;
	text-align: center;
	min-width: 103px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:active {
	background-color: #188ce8;
}

.button.primary:hover,
.button.primary:focus {
	color: var(--primary-background-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.secondary:hover,
.button.secondary:focus {
	color: var(--primary-background-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*main*/

.main {
	padding: 94px 0 0;
}

.specifics {
	padding-bottom: 94px;
}

.features {
	display: flex;
	justify-content: center;
}

.features .item {
	margin-right: 30px;
}

.features .item:last-child {
	margin-right: 0;
}

.features .title {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 14px;
	color: var(--primary-text-color);
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
}

.features p {
	margin-top: 0;
	margin-bottom: 0;
	color: var(--secondary-text-color);
	font-weight: 400;
	line-height: 1.71;
}


.features .item::before {
	display: block;
	border-radius: 4px;
	content: '';
	height: 120px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--primary-button-color);
	margin-bottom: 30px;
}

.icon-antenna::before {
	background-image: url(../images/icons/antenna.svg);
}

.icon-clock::before {
	background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before {
	background-image: url(../images/icons/diagram.svg);
}

.icon-astronaut::before {
	background-image: url(../images/icons/astronaut.svg);
}

/*main-box*/

.main-box {
	margin-bottom: 94px;
	margin-top: 0;
}

.box-title {
	text-align: center;
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
}

.box-list {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}

.box-list .item {
	position: relative;
	margin-right: 30px;
	display: block;
	max-width: 100%;
	height: 294px;
	width: 370px;
}

.box-list .item:last-child {
	margin-right: 0;
}

.box-list .item .image {
	display: block;
}

.box-label {
	position: absolute;
	
	width: 100%;
	height: 70px;
	background-color: #2F303A;
	opacity: 0.8;
	bottom: 0;
	left: 0;
	text-align: center;
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--text-color);
	padding: 27px 0;
}

/* team */

.team {
	padding: 94px 0;
	background-color: var(--background-color);
}

.team-title {
	text-align: center;
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	margin-bottom: 50px;
}

.team-card {
	display: flex;
	justify-content: center;
	align-items: center;
}

.team-card .item {
	margin-right: 30px;
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	background-color: var(--primary-background-color);
}

.team-card .item:last-child {
	margin-right: 0;
}

.team-card .image {
	width: 270px;
	height: 260px;
}

.team-card .title {
	margin-top: 30px;
	margin-bottom: 10px;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0.03em;
	text-align: center;
}

.team-card .subtitle {
	margin-bottom: 16px;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
	text-align: center;
}

.team-card__logos {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 0 32px;
	margin-bottom: 30px;
}

.team-card__link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card__link:hover,
.team-card__link:focus {
	background-color: var(--accent-color);
}

.team-card__link svg {
	fill: #afb1b8;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card__link:hover svg,
.team-card__link:focus svg {
	fill: var(--primary-background-color);
}

/* clients */

.clients {
	margin-bottom: 94px;
	margin-top: 94px;
	background-color: var(--primary-background-color);
}

.clients__title {
	font-family: 'Roboto';
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	font-size: 36px;
	line-height: 42px;
}

.clients__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 90px;
}

.clients__item {
	width: 170px;
	height: 92px;
}

.clients__item svg {
	border: 1px solid #afb1b8;
	border-radius: 4px;
	fill: #afb1b8;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item svg:hover,
.clients__item svg:focus {
	fill: var(--accent-color);
	border: 1px solid var(--accent-color);
}

/* footer */

.footer {
	background-color: var(--secondary-background-color);
	padding: 60px 0;	
}

.container-footer {
	display: flex;
}

.studio {
	color: var(--text-color);
	font-family: Ralewey, sans-serif;
	font-weight: 700;
	font-size: 26px;
	letter-spacing: 0.03em;
}

.address {
	margin-top: 20px;
}

.address-list .item {
	margin-bottom: 9px;
}

.address-list .item:last-child {
	margin-bottom: 0px;
}

.link-address {
	font-style: normal;
	font-weight: 400;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--text-color);
}

.address-list .link {
	font-style: normal;
	font-weight: 400;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

.social {
	margin-left: 90px;
}

.invite-title {
	font-family: Roboto;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--text-color);
	margin-bottom: 20px;
	padding-top: 12px;
}

.social-links {
	display: flex;
}

.ellipse {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	margin-right: 10px;
	display: flex;
	background-color: rgba(255, 255, 255, 0.1);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .item:last-child .ellipse {
	margin-right: 0;
}

.ellipse:hover,
.ellipse:focus {
	background-color: var(--accent-color);
}

.instagram {
	background-image: url(../images/icons/instagram-white.svg);
}

.twitter {
	background-image: url(../images/icons/twitter-white.svg);
}

.facebook {
	background-image: url(../images/icons/facebook-white.svg);
}

.linkedin {
	background-image: url(../images/icons/linkedin-white.svg);
}

.email-input {
	margin-left: 93px;
}

.email-form {
	display: flex;
	align-items: center;
}

.email input {
	width: 358px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	padding: 15px 16px;
	background-color: var(--secondary-background-color);
	color: var(--text-color);
	margin-right: 12px;
}

.email input::placeholder {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.6);
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.email-button {
	display: inline-flex;
	align-items: center;
	background-color: var(--accent-color);
	width: 200px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	color: var(--text-color);
	padding: 10px 28px;
	border: none;
	letter-spacing: 0.06em;
	margin: 0;
	cursor: pointer;
}

.email-button::after {
	content: '';
	background-image: url(../images/icons/telegram.svg);
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-left: 10px;
}

/* portfolio */

.portfolio {
	padding: 94px 0;
}

.filters {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.filters .item {
	margin-right: 8px;
}

.filters .item:last-child {
	margin-right: 0;
}

/* project */

.project {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.project .item {
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project .image {
	width: 370px;
	height: 294px;
	display: block;
}

.project .post {
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	padding: 20px 24px;
	max-height: 110px;
}
	
.project .title {
	font-family: 'Roboto';
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.06em;
	color: var(--primary-text-color);
	font-weight: 700;
	margin-bottom: 4px;
}

.project .post {
	color: var(--secondary-text-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
}

.product-thumb {
	position: relative;
	overflow: hidden;
}

.text-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: var(--accent-color);
	padding: 63px 24px;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.03em;
	color: var(--text-color);
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project .item:hover .text-overlay {
	transform: translateY(0);
}

.project .item:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Модалка */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	background-color: rgba(0, 0, 0, 0.25);

	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.6);
}

.modal {
	position: absolute;
	width: 528px;
	height: 581px;
	background-color: #fff;
	top: 50%;
	left: 50%;
	transform: scale(1.05) translate(-50%, -50%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.close-button {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	top: 8px;
	right: 8px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-svg {
	position: absolute;
	fill: black;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.close-button:hover .close-svg {
	fill: var(--accent-color);
}

.form {
	padding: 40px;
}

.modal-title {
	text-align: center;
	font-size: 20px;
	letter-spacing: 0.03em;
	color: #212121;
	font-family: Roboto;
	margin-bottom: 30px;
	font-weight: 700;
}

.label-box {
	margin-bottom: 28px;
}

.form-field {
	position: relative;
}

.form-input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 40px;
	transition: outline 200ms linear;
}

.name {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 42px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.01em;
	color: var(--secondary-text-color);
	transition: transform 200ms linear;
}

.icon {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 12px;
	transition: fill 200ms linear;
}

.form-input:focus {
	outline: 1px solid var(--accent-color);
}

.form-field:focus-within > .icon {
	fill: var(--accent-color);
}

.form-field:focus-within .name {
	transform: translate(-42px, -36px);
}

.form-input:not(:placeholder-shown) + .name {
	transform: translate(-42px, -36px);
}

.textarea-box {
	margin-bottom: 20px;
}

.comment {
	width: 100%;
	padding: 12px 16px;
	resize: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}

.name-comment {
	position: absolute;
	transform: translateY(-17px);
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.01em;
	color: var(--secondary-text-color);
}

.comment:focus {
	outline: 1px solid var(--accent-color);
}

.checkbox-box {
	margin-bottom: 30px;
}

.checkbox {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.form-checkbox {
 	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: #757575;
}

.icon-check {
	display: inline-block;
	width: 15px;
	height: 14px;
	border: 1px solid black;
	margin-right: 7px;
	border-radius: 2px;
}

.checkbox:checked + .icon-check {
	background-image: url(../images/icons/icon-check.svg);
	background-size: contain;
	background-origin: border-box;
	background-repeat: no-repeat;
	border: 1px solid var(--accent-color);
}

.form-link {
	color: var(--accent-color);
	text-decoration-line: underline;
	margin-left: 5px;
}

.form-button {
	display: block;
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	width: 200px;
	height: 50px;
	font-size: 16px;
	line-height: 30px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--text-color);
	margin-left: auto;
	margin-right: auto;
	border: none;
}