.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 1;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .modal {
    position: absolute;
    width: 90vw;
    max-width: 450px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    @media screen and (min-width: 1200px) {
        max-width: 528px;
    }
}
  
  .backdrop--is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(0.6);
            transform: translate(-50%, -50%) scale(0.6);
  }
  
  .close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 8px;
    right: 8px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .close-button:hover .close-svg {
    fill: #2196f3;
  }
  
  .close-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    fill: black;
  }
  
  .form {
    padding: 40px;
  }
  .form__modal-title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #212121;
    font-family: Roboto;
    margin-bottom: 30px;
    font-weight: 700;
  }
  
  .label-box {
    margin-bottom: 28px;
  }
  
  .form-field {
    position: relative;
  }
  .form-field__form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;
    -webkit-transition: outline 200ms linear;
    transition: outline 200ms linear;
  }
  .form-field__form-input:focus {
    outline: 1px solid #2196f3;
  }
  .form-field__name {
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    left: 42px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #757575;
    -webkit-transition: -webkit-transform 200ms linear;
    transition: -webkit-transform 200ms linear;
    transition: transform 200ms linear;
    transition: transform 200ms linear, -webkit-transform 200ms linear;
  }
  .form-field__icon {
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    left: 12px;
    -webkit-transition: fill 200ms linear;
    transition: fill 200ms linear;
  }
  .form-field:focus-within > .form-field__icon {
    fill: #2196f3;
  }
  .form-field:focus-within .form-field__name {
    -webkit-transform: translate(-42px, -36px);
            transform: translate(-42px, -36px);
  }
  .form-field:not(:-moz-placeholder-shown) + .form-field__name {
    transform: translate(-42px, -36px);
  }
  .form-field:not(:-ms-input-placeholder) + .form-field__name {
    transform: translate(-42px, -36px);
  }
  .form-field:not(:placeholder-shown) + .form-field__name {
    -webkit-transform: translate(-42px, -36px);
            transform: translate(-42px, -36px);
  }
  
  .textarea-box {
    margin-bottom: 20px;
  }
  .textarea-box__name-comment {
    position: absolute;
    -webkit-transform: translateY(-17px);
            transform: translateY(-17px);
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #757575;
  }
  .textarea-box__comment {
    width: 100%;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
  .textarea-box__comment:focus {
    outline: 1px solid #2196f3;
  }
  
  .checkbox-box {
    margin-bottom: 30px;
  }
  
  .form-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.36px;
    color: #757575;
    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }
}
  
  .checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .checkbox:checked + .icon-check {
    background-image: url(../images/icons/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    background-repeat: no-repeat;
    border: 1px solid #2196f3;
  }
  
  .icon-check {
    display: inline-block;
    width: 15px;
    height: 14px;
    border: 1px solid black;
    margin-right: 7px;
    border-radius: 2px;
  }
  
  .form-link {
    color: #2196f3;
    text-decoration-line: underline;
    margin-left: 5px;
  }
  
  .form-button {
    display: block;
    background: #2196f3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }