.specifics {
	padding-bottom: 94px;
}

.features {
	display: flex;
	justify-content: center;
    &__item:not(:last-child) {
        margin-right: 30px;
    } 
    &__item::before {
        display: block;
        border-radius: 4px;
        content: '';
        height: 120px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $primary-button-color;
        margin-bottom: 30px;
    }  
    &__title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 14px;
        color: $primary-text-color;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
    }
    & p {
        margin-top: 0;
        margin-bottom: 0;
        color: $secondary-text-color;
        font-weight: 400;
        line-height: 1.71;
    }
}