.hat {
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
	url(../images/hero/hero.jpg);
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1600px;
}

.hat__tittle {
	color: $text-color;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 696px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	font-family: Roboto;
}

.hat__button {
	color: $primary-background-color;
	background-color: $accent-color;
	border-color: transparent;
	text-align: center;
	font-family: Roboto;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.06em;
	line-height: 1.875;
	border-radius: 4px;
	padding: 10px 32px;
	min-width: 216px;
}