.studio {
	color: $text-color;
	font-family: Ralewey, sans-serif;
	font-weight: 700;
	font-size: 26px;
	letter-spacing: 0.03em;
}

.address {
	margin-top: 20px;
}

.address-list {
	&__item:not(:last-child) {
        margin-bottom: 9px;
    }
    &__link {
        font-style: normal;
        font-weight: 400;
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
    &__link-address {
        font-style: normal;
        font-weight: 400;
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $text-color;
    }
}